<div class="container">
<br>
<br>

<div class="row">
<div class="col-md-10"></div>
<div class="col-md-2">
    <button type="button" class="btn btn-light btn-md"><%= link_to 'Add New User', '/users/new' %></button>
    

    </div>
</div>
 <br/>
 <br/>
<div class="row">
<table class="table table-hover">
<thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th scope="col">Email </th>
    <th scope="col">Phone Number</th>
    <th scope="col">Verified</th>
    <th scope="col"> Actions</th>
  </tr>
</thead>
<tbody>
<% @users.each do |u| %>
  <tr>
    <th scope="row">1</th>
    <td><%= u.username %></td>
    <td><%= u.email %></td>
    <td><%= u.phone_number %></td>
    <td><%= u.is_verified %></td>
    <td>
        <div class="btn-group btn-group-sm" role="group">
        <%= link_to 'Edit', edit_user_path(u), class: 'btn btn-group-xs btn-outline-secondary' %> 
        <%= link_to 'Show', user_path(u), class: 'btn btn-group-xs btn-outline-secondary' %> 
        <%= link_to 'Delete', user_path(u), class: 'btn btn-group-xs btn-outline-secondary',
        method: :delete,
        data: { confirm: 'Are you sure?' } %> 
        </div>       
    </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
